
<div class="container">
  <form>
    <div class="">
      <label for="">Item Name:</label>
      <input type="text" id="name" name="" value="" placeholder="Example; Rice'n'Peas & Fry Chicken" autofocus>
      <br><br>
    </div>
    <div class="">
      <label for="">Unit Price ( JA$ ):</label>
      <input type="number" id="price" name="" value="" placeholder="Enter a price">
      <br><br>
    </div>
    <div class="">
      <label for="">Description (Optional):</label>
      <textarea id="description" name="description" rows="4" cols="80" maxlength="250" placeholder="Rice n peas n chicken with veg"></textarea>
      <br><br>
    </div>
    <div class="">
      <label for="availability">Item Size:</label>
      <div class="row">
        <div class="col-sm-3">
          <div class="custom-control custom-radio">
            <input id="small" name="size" type="radio" class="form-control custom-control-input sizer" value="small" checked="" required="">
            <label class="custom-control-label" for="small"><small>Small</small></label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="custom-control custom-radio">
            <input id="medium" name="size" type="radio" class="form-control custom-control-input sizer" value="medium" required="">
            <label class="custom-control-label" for="medium"><small>Medium</small></label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="custom-control custom-radio">
            <input id="large" name="size" type="radio" class="form-control custom-control-input sizer" value="large" required="">
            <label class="custom-control-label" for="large"><small>Large</small></label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="custom-control custom-radio">
            <input id="na" name="size" type="radio" class="form-control custom-control-input sizer" value="NA" required="">
            <label class="custom-control-label" for="na"><small>Not Applicable</small></label>
            <input type="text" name="userId" value="userLoggedIn" hidden>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <label for="vendor">Vendor:</label>
      <select class="d-block" id="vendor" name="budget" required="">
        <option  id="vendorList" value="">Choose Caterer / Vendor...</option>
      </select>
    </div>
    <div class="">
      <br><br>
      <button type="submit" name="button" class="btn btn-block waves-effect waves-light">Submit</button>
      <br><br>
    </div>
  </form>
</div>

