<div class="navbar-section">
  <div class="header">
    <div class="container-fluid">
      <div class="navbar-header navbar-expand-lg">
        <a class="navbar-brand center" routerLink="/"> MAIN MENU </a>
      </div>
      <div class="navbar-footer navbar-expand-lg ">
        <ul class="nav navbar-nav navbar-left">
          <li class="navbar-item nav-item-active nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">MENU</a>
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link" routerLink="/card-list" routerLinkActive="active">CART</a>
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link" routerLink="/my-order" routerLinkActive="active">MY ORDERS</a>
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link" routerLink="/orders-all" routerLinkActive="active">ORDERS</a>
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link" routerLink="/add-vendor" routerLinkActive="active">ADD VENDOR</a>
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link" routerLink="/vendor-list" routerLinkActive="active">UPDATE VENDORS</a>
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link" routerLink="/add-item" routerLinkActive="active">ADD MENU ITEM</a>
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link" routerLink="/item-list" routerLinkActive="active">UPDATE MENU ITEMS</a>
          </li>
          <li *ngIf="isLoggedIn" class="navbar-item nav-item">
            <a class="nav-link" routerLinkActive="active" style="text-transform: uppercase">{{userData.fname}} {{userData.lname}}</a>
          </li>
          <li *ngIf="!isLoggedIn" class="navbar-item nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">LOGIN</a>
          </li>
          <li *ngIf="!isLoggedIn" class="navbar-item nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">REGISTER</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
