<div class="container">
  <form [formGroup]="commonForm" (ngSubmit)="onSubmit(commonForm.value)">
    <div class="">
      <label>Email:</label>
      <input type="email" id="email" formControlName="email"  placeholder="email">
    </div>
    <div class="">
      <label>Password:</label>
      <input type="password" id="password" formControlName="password" placeholder="">
    </div>
    <button type="submit" id="login" name="button" class="btn waves-effect waves-light">Submit</button>
  </form>
</div>
