
<div class="container">
  <form [formGroup]="commonForm" (ngSubmit)="onSubmit(commonForm.value)">
    <div class="">
      <label>First Name *:</label>
      <input type="text" id="fname" formControlName="fname" placeholder="Enter First Name" autofocus>
    </div>
    <div class="">
      <label>Last Name *:</label>
      <input type="text" id="lname" formControlName="lname" placeholder="Enter last name">
    </div>
    <div class="">
      <label>Email *:</label>
      <input type="text" id="email" formControlName="email" placeholder="Enter email">
    </div>
    <div class="">
      <label>Phone *:</label>
      <input type="text" id="phone" formControlName="phone" placeholder="Enter phone">
    </div>
    <div class="">
      <label>Password *:</label>
      <input type="password" id="password" formControlName="password" placeholder="">
    </div>
    <div class="">
      <label>Role *:</label>
      <select class="d-block" id="role" formControlName="role" required>
        <option value="">Select a role</option>
        <option value="vendor">Vendor</option>
        <option value="employee">Employee</option>
        <option value="ambassador">Ambassador</option>
      </select>
    </div>
<!--    <div class="">-->
<!--      <label>Business Name *:</label>-->
<!--      <input type="text" id="bu_name" formControlName="bu_name" placeholder="Enter business name">-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <label>Business Address *:</label>-->
<!--      <input type="text" id="bu_address" formControlName="bu_address" placeholder="Enter business address">-->
<!--    </div>-->
    <button type="submit" id="signUp" class="btn waves-effect waves-light" style="margin-top: 18px">Submit</button>
  </form>
</div>

